.hoverBtnSpacing{
  letter-spacing: 1px;
  transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
}
.hoverBtnSpacing:hover{
  letter-spacing: 3px;
}